.profilePage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileContentBox {
  width: 500px;
  padding: 20px;
  padding-top: 50px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profileName {
  font-size: 22px;
  padding-bottom: 10px;
}

.bioInfoBox {
  border: 1px solid rgb(171, 171, 171);
  width: 300px;
  height: 150px;
  background-color: #efefef;
  text-align: center;
}
