/* changed color from white to black */
.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
 
/* changed flex to 2*/
.topbarLeft {
    flex: 2;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
}

/* changed flex to 2 */
.topbarRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    /* column-gap: em; */
}

/* adding gaps between topbarright items */
.topBarRightItem{
    margin: 0px 10px;
}

/* add class to contain links in flex box */
.topbarLinks {
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;     
}

/*disable color change for links*/
.topbarLinks a, a:visited, a:hover, a:active{
    color: inherit;
}


.topbarLink {
    margin: 0px 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarLink:hover{
    text-decoration: underline;
    text-decoration-color: white;
}  


.logoutBtn {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutBtn:hover {
    transform: scale(0.98);
    opacity:  90%;
}

.pfp_btn {
    min-width: fit-content;
    flex: 0;
    /* padding: 10px 0px 10px 0px; */
    cursor: pointer;
    display: flex;
    height: 42px;
    border-color: #000;       
}

.pfp_btn:hover {
    transform: scale(0.98);
    opacity:  90%;
}

