.shareh1 {
  border-bottom: 1px solid white;
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

.shareForm {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
}

.shareInput {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.shareLabel {
  color: #3d3d3d;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.shareError {
  color: red;
  font-size: 12px;
  height: 30px;
 }

.shareSubmitButton {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #6976d9;
  color: white;
  font-size: 14px;
  margin: 20px 0px;
}

.CreatePostButton {
  height: 40px;
  font-size: 14px;
  background-color: #6976d9;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}